@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth fonts & nicer selection */
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
::selection { background: rgba(99, 102, 241, .2); }
html { scroll-behavior: smooth; }
